html {
    white-space: normal;
    text-align: justify;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
}

.content {
    width: 60%;
    margin: 0 auto;
    margin-top: 2rem;
    flex-grow: 4;
}

.content > div img {
    height: 300px;
    width: 100%;
}

.content p {
    margin-top: 2rem;
}

footer {
    justify-self: flex-end;
}
