#content form .form-control select {
    width: 200px;
    background-color: #fefefe;
    padding: 0.2rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    margin-top: 0.5rem;
}

#content form .form-action input {
    padding: 8px;
    width: 100px;
    background-color: unset;
    border: 1px solid #555;
    margin: 10px 0;
    border-radius: 5px;
    transition: 0.5s;
}

#content form .form-action input:hover {
    border: unset;
    background-color: rgba(28, 28, 224, 0.747);
    color: white;
}
table {
    border-collapse: collapse;
}

table tbody td,
table tbody th {
    border: 1px solid black;
}

/* Stylisation of the table */

table {
    width: 100%;
}

table th,
td {
    padding: 5px;
}

table tr td {
    text-align: center;
}
table tr td ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

table tr ul li {
    width: 40px;
}

table tr ul li i {
    font-size: 1.2rem;
}

table thead tr th {
    text-align: left;
}

tbody > tr:first-child {
    background-color: #555;
}

table tbody > tr th:nth-child(1) {
    width: 40px;
}

table tbody > tr th:nth-child(2) {
    width: calc(100%-570px);
}

table tbody > tr th:nth-child(3) {
    width: 160px;
}
table tbody > tr th:nth-child(4) {
    width: 200px;
}
table tbody > tr th:nth-child(5) {
    width: 160px;
}

table tbody tr td:nth-child(2) {
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table tbody tr:nth-of-type(2n) {
    background-color: #cacaca63;
}

table tbody tr td {
    color: inherit;
}

h3 {
    margin-top: 20px;
}
div a {
    text-decoration: underline;
    color: blue !important;
}

td ul li .fa-solid {
    color: #555;
    transition: 0.5s;
}

td ul li .fa-solid:active {
    transform: scale(0.98);
}

td ul li .fa-solid:hover {
    color: blue;
}
