body {
    display: flex;
    flex-direction: column;
}

body nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: rgb(22, 21, 21);
    background-color: white;
}
